{% extends'base.html.twig' %}

    {% block php %}

    {% endblock %}



    {% block body %}

            <p>Welcome to your friendly information spreading contact list.
                If you would like to sign up for a daily update on the news please click the link below.</p>

            <button onclick="window.location.href = '/contact'">Sign Up!</button>


    {% endblock %}


